.main_contacto{
    height: 89vh;
    display: flex;
    justify-content: space-around;
    align-self: center;
}

.main_contacto form h1 {
    font-size: 60px;
    text-align: center;
}

.main_contacto form{
    margin-top: 20px;
}

.main_contacto input{
    height: 40px;
    width: 300px;
    margin-bottom: 15px;
}

.enviar {
    background-color: black;
    color:white;
    cursor: pointer;
}

.main_contacto textarea{
    margin-bottom: 15px;
}
.contact_data{
    margin-top: 20px;
}
.contact_data h1{
    font-size: 60px;
}

.contact_data p {
    font-size: 20px;
}

.contact_data a{
    text-decoration: none;
    font-size: 60px;
    text-align: center;
    margin-right: 80px;
    margin-left: 80px;
}

