@media screen and (min-width: 450px) {
    .nav_menu{
        height: 50px;
    }

    .dropdown {
        display: block;
    }

    .textoNav {
        font-size: 25px;
        text-align: center;
        margin: 0;
    }

    .navegacion{
        display: none;
    }

    .search{
        display: none;
    }

    .iconos-mobile{
        display: block;
    }

    .nav_aside {
        display:none;
    }

    .dropdown-prod {
        display: block;
        width: 100%;
    }

    .main{
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .contenedor_txtmain{
        width: 100%;
    }
    .textMain{
        margin-top: 90px;
        font-size: 30px;
    }

    .textmain2 {
        font-size: 40px;
    }
    .btn_index{
        display: none;
    }

    .imgMain img{
        width: 400px;
        height: auto;
    }

    .btn_mobile{
        display: block;
    }
    
    .carousel h1 {
        font-size: 45px;
        margin-top: 50px;
    }

    #carouselExampleCaptions{
        width: 80%;
        height: 80%;
        margin-top: 110px;
    }

    .carousel-caption h5{
        font-size: 12px;
    }

    .carousel-caption p{
        font-size: 10px;
    }

    .text-title {
        font-size: 45px;
        text-align: center;
    }

    .grilla{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
    
    .card-container {
        grid-template-columns: 1fr 1fr;
    }

    .pieTxt1 p{
        margin-top: 15px;
        font-size: 10px;
    }

    .pieTxt2 p{
        margin-top: 15px;
        font-size: 10px;
    }

    
}

@media screen and (min-width: 600px) {
    .textoNav {
        margin-left: 30px;
    }

    .iconos-mobile li{
        margin-right: 28px;
    }

    .textMain{
        margin-top: 65px;
        font-size: 30px;
    }

    .imgMain img{
        width: 500px;
        height: auto;
    }
}

@media screen and (min-width: 700px) {
    .carousel h1 {
        font-size: 55px;
        margin-top: 40px;
    }

    #carouselExampleCaptions{
        width: 80%;
        height: 80%;
        margin-top: 75px;
    }

    .card-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 900px) {

    .card-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 1024px) {
    .dropdown{
        display: none;
    }

    .textoNav{
        font-size: 32px;
        margin: 0px;
    }

    .search{
        display: block;
        width: 235px;
        margin-left:10px;
    }    
    
    .iconos-mobile{
        display: none;
    }

    .navegacion{
        display: block;
    }

    .navegacion li{
        margin: 2px;
    }

    .navegacion li a {
        font-size: 13px;
    }

    .dropdown-prod{
        display: none;
    }

    .nav_aside {
        display: block;
    }

    .main {
        height: 89vh;
        flex-direction: row;
    }

    .contenedor_txtmain{
        align-self: center;
        width: 45%;
    }
    .textMain{
        margin:0;
        font-size: 30px;
    }

    .btn_index{
        display: block;
    }

    .btn_index a {
        font-size: 15px;
    }
    .btn_mobile{
        display: none;
    }

    .grilla{
        grid-template-rows: 1fr;
        grid-template-columns: 250px;
        
    }

    .pieTxt1 p{
        font-size: 12px;
    }

    .pieTxt2 p{
        font-size: 12px;
    }

    .carousel h1 {
        font-size: 60px;
        margin-top: 20px;
    }
    
    #carouselExampleCaptions{
        width: 70%;
        height: 70%;
        margin-top: 40px;
    }
    .carousel-caption h5{
        font-size: 16px;
    }

    .carousel-caption p{
        font-size: 13px;
    }
}

    @media screen and (min-width: 1200px) {
        .nav_menu{
            height: 70px;
        }
        .textoNav{
            font-size: 38px;
        }
        .navegacion li a {
            font-size: 15px;;
        }
        .imgMain img{
            height: auto;
            width: 700px;
        }

        #carouselExampleCaptions{
            width: 70%;
            height: 70%;
            margin-top: 0px;
        }
    }

    @media screen and (min-width: 1400px) {
        .textoNav {
            margin-left: 30px;
            font-size: 50px;
        }
        .search {
            width: 320px;
            height: 25px;
        }


        .navegacion li{
            margin-right: 35px;
            padding: 6px; 
        }

        .navegacion li a{
            font-size: 17px;
        }

        .textMain{
            font-size: 50px;
        }

        .textmain2{
            font-size: 68px;
        }

        .imgMain img{
            height: auto;
            width: 900px;
        }

        .btn_index a {
            font-size: 17px;
        }

        #carouselExampleCaptions{
            width: 60%;
            height: 60%;
        }

        .carousel-caption h5{
            font-size: 22px;
        }

        .carousel-caption p{
            font-size: 15px;
        }
    }

    @media screen and (min-width: 1600px) {
        #carouselExampleCaptions{
            width: 55%;
            height: 55%;
        }
}
